* {
	margin: 0;
	padding: 0;
	border: 0;
	/*box-sizing: border-box;*/
}
html,body {
	max-width: 100%;
}
body {
	background-color: #f6f6f6;
}
/* lightbox */
.demo-gallery > ul {
  margin-bottom: 0;
}
.demo-gallery > ul > li {
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 200px;
}
.demo-gallery > ul > li a {
  border: 3px solid #00D054;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}
.demo-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}
.demo-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}
.home .demo-gallery {
  padding-bottom: 80px;
}
p {
	margin-bottom: 1rem;
}
li {
	margin: 0px;
}
.kepala-sekolah-data tbody tr td{
	font-size: 14px !important;
	margin: 0 auto;
}
.active {
	background-color: #35373A;
}
a.a-menu.active{
	color: #00D054 !important;
}
a.a-menu.active i.fa-chevron-left{
	color:#fff !important;
}
a.b-menu.active{
	color: #00D054 !important;
}
a.b-menu.active i.fa-chevron-left{
	color:#fff !important;
}
.menu ul ul a.active {
	color: #00D054;
}
.purple {
	color: purple;
	text-shadow: 0px 3px 1px #35373a;
}
.icon-right {
	margin-right: 10px;
}
.icon-left {
	margin-left: 10px;
}
.title-kepala-sekolah {
	text-align: center;
	font-size: 20px;
	margin: 10px;
}
.nama {
	text-align: center;
	width: 100%;
}
.images-kepala-sekolah {
	margin: 0 auto;
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    padding: 5px;
}
.images-kepala-sekolah img {
	min-width: 150px;
	min-height: 150px;
	max-width: 150px;
	max-height: 150px;
}
.kepala-sekolah-padd {
	padding: 0px 150px;
	text-align: center;
}
.kepala-sekolah {
	/*margin: 0 auto;*/
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    padding: 5px;
}
.kepala-sekolah img {
	min-width: 150px;
	min-height: 150px;
	max-width: 150px;
	max-height: 150px;
}
.keterangan-kepala-sekolah {
	text-align: left;
	margin: 0 auto
}
#logo-sekolah {
	top: -170px;
	position: relative;
	margin-bottom: -190px;
}
.logo-sekolah {
	min-width: 170px;
	max-height: 200px;
	cursor: pointer;
	opacity: 0.9;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.logo-sekolah:hover {
	opacity: 1;
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}
.logo-brands {
	display: none;
}
.guestbook {
	position: fixed;
	z-index: 2;
	bottom: -365px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.title-book {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #22a7f0;
}
.open-book {
	bottom: 0;
}
.open-book .trigger {
	top: -25px;
}
.open-book .trigger a#book i.fa-chevron-up {
	color: purple;
}
#guestbook.guestbook a i{
	color: #f6f6f6;
}
#guestbook.guestbook.open-book a i.fa-chevron-up {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
#user-data {
	height: 30px;
	width: 100%;
	background-color: #F64747;
	margin-bottom: 5px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	display: none;
}
#email-data {
	height: 30px;
	width: 100%;
	background-color: #F64747;
	margin-bottom: 5px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	display: none;
}
#pesan-data {
	height: 30px;
	width: 100%;
	background-color: #F64747;
	margin-bottom: 5px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	display: none;
}
.trigger {
	width: 35px;
	height: 30px;
	position: absolute;
	background-color: #22A7F0;
	left: 35px;
	top: -64px;
	text-align: center;
	border-radius: 3px 3px 1px 1px;
	/*box-shadow: 1px -2px 2px #4d4d4d; */
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.guestbook a {
	display: block;
	cursor: pointer;
}
.book {
	height: 300px;
	width: 500px;
	padding: 20px 20px 40px 20px;
	overflow: hidden;
	background-color: #22A7F0;
	overflow: hidden;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
#guestbook.guestbook.open-book .book {
	background-color: #fff;
}
.flat {
	height: 5px;
	width: 100%;
	background-color: #22A7F0;
}
/* custom form */
input[type="text"].search {
	border-radius: 30px 0px 0px 30px !important;
	height: 40px;
	width: 300px;
	right: 0;
}
.button-search {
	border-radius: 0px 30px 30px 0px !important;
	background-color: #22A7F0 !important;
	height: 40px !important;
	border: 0 !important;
	color: #fff !important;
	padding-top: 3.5px !important;
}
.search::-webkit-input-placeholder {
	font-style: italic;
}
.search::-ms-input-placeholder {
	font-style: italic;
}
.search::-moz-input-placeholder {
	font-style: italic;
}
.card-panel.green.white-text b.blue {
	color: #22A7F0;
}
.search {
  display: inline-block;
  width: 100%;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.search:focus {
  border-color: #00c0ef;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
input[type="text"],
input[type="email"] {
	border-radius: 0px !important;
	height: 30px;
}
.form-control {
  display: block;
  width: 100%;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #00c0ef;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control-custom {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #9fb1c2;
  background-color: #2c3e50;
  background-image: none;
  border: 1px solid #1abc9c;
  border-top: 1px solid #9fb1c2;;
  border-right: 1px solid #9fb1c2;
  border-left: 1px solid #9fb1c2;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-custom:focus {
  border-color: #1abc9c;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(155, 89, 182, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(155, 89, 182, 0.6);
}
.form-control-custom::-moz-placeholder {
  color: #1abc9c;
  opacity: 1;
}
.form-control-custom:-ms-input-placeholder {
  color: #1abc9c;
}
.form-control-custom::-webkit-input-placeholder {
  color: #1abc9c;
}
.form-control-custom::-ms-expand {
  border: 0;
  background-color: transparent;
}
.brands-logo {
	text-align: center;
	color: #35373A;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.brands-logo h5 {
	margin: 0;
	margin-top: -10px;
	font-weight: bold;
	cursor: default;
}
.brands-logo h6 {
	margin: 0;
	font-weight: bold;
	cursor: default;
}
header {
	color: #000;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0px 0px 3px #35373A;
	z-index: 2;
	height: 60px;
	position: fixed;
	top: 0px;
	align-items: center;
}
#btn-menu {
	display: none;
}
header label {
	font-size: 30px;
	display: none;
	cursor: pointer;
}
span.icon > i.icon {
	font-size: 1.5em;
	margin: 0px;
	margin-right: 5px;
	color: #22A7F0;
	text-shadow: 0px 5px 1px #35373A;
	-webkit-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.menu ul {
	display: flex;
	list-style: none;
	margin: 0px 20px 0px 50px;
}
.menu ul a {
	display: block;
	padding: 20px 10px 20px 0px;
	color: #35373A;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
}
.active a{
	background-color: #35373A;
	color: #00D054 !important;
}
.menu ul a:hover {
	color: #00D054;
	background-color: #35373A;
}
.menu ul ul {
	display: none;
	background-color: #35373A;
	margin-bottom: 0px;
	/*margin-top: -20px;*/
	margin-right: 0px;
	margin-left: 0px;
}
.menu ul ul a {
	color: #fff;
	padding: 6px 15px;
	font-size: 11px;
}
.menu ul ul li:first-child {
	padding-top: 10px;
}
.menu ul ul li:last-child {
	padding-bottom: 15px;
}
.menu ul ul a:hover {
	color: #00D054;

}
.a-menu {
	/*padding-bottom: 10px !important;*/
	/*margin-bottom: 20px;*/
}
.menu a span {
	margin-left: 6px;
	margin-right: 0px;
}
.menu ul li:hover ul {
	display: block;
	position: absolute;
	background-color:  #35373A;
}
.nav-menu {
	width: 100%;
	background-color: #ffffff;
	opacity: 0;
	box-shadow: 0px 0px 3px #35373A;
	-webkit-box-shadow: 0px 0px 3px #35373A;
	-moz-box-shadow: 0px 0px 3px #35373A;
	-o-box-shadow: 0px 0px 3px #35373A;
	-ms-box-shadow: 0px 0px 3px #35373A;
	z-index: -1;
	position: fixed;
	top: -60px;
	-webkit-transition: all 0.7s linear;
	-o-transition: all 0.7s linear;
	transition: all 0.7s linear;
}
.nav-menu-collapse {
	width: 100%;
	background-color: #ffffff;
	opacity: 1;
	text-align: center;
	padding: 0px 0px;
	box-shadow: 0px 0px 3px #35373A;
	-webkit-box-shadow: 0px 0px 3px #35373A;
	-moz-box-shadow: 0px 0px 3px #35373A;
	-o-box-shadow: 0px 0px 3px #35373A;
	-ms-box-shadow: 0px 0px 3px #35373A;
	z-index: 10;
	top: 0px;
	-webkit-transition: all 0.7s linear;
	-o-transition: all 0.7s linear;
	transition: all 0.7s linear;
}
.nav-menu-collapse h2 {
	font-size: 25px;
	margin: 0px;
}
.nav-menu-collapse h1 {
	font-size: 30px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.content article {
	padding: 30px 0;
	max-width: 950px;
	margin: 0 auto;
	text-align: center;
}
.none {
	position: relative;
	opacity: 0;
	transform: translateY(-50px);
	-webkit-transition: all 0.99 linear;
	-o-transition: all 0.99 linear;
	transition: all 0.99 linear;
}
.articles-list {
	border-color: #00D054;
	position: relative;
	opacity: 1;
	transform: translateY(0px);
	-webkit-transition: all 0.99 linear;
	-o-transition: all 0.99 linear;
	transition: all 0.99s linear;
}
h1, h2 {
	font-weight: 300;
	color: #35373a;
}
img {
	max-width: 100%;
}
.box-background {
	position: relative;
	width: 100%;
	height: 314px;
	background-image: url(../images/7.jpg);
	background-size: contain;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;
}
/*.logo {
	height: 300px;
	width: 100%;
	background-color: pink;
	background-image: url(../images/dekstop-logo.png);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 16%;
	margin-top: -50px;
}*/
.student-top {
	/*background-color: pink;*/
	width: 500px;
	height: 176px;
	background-image: url(../images/wisuda-top.png);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
}
.student-bottom {
	/*background-color: pink;*/
	width: 500px;
	height: 302px;
	background-image: url(../images/wisuda.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	position: absolute;
	left: 0;
	margin-left: 0px;
	top: 60px;
}
figure .columns .four {
	padding: 0px !important;
}
.is {
	margin: 0px 0px 0px 20px;
	position: relative;
	opacity: 0;
	transform: translateY(-30px);
	-webkit-transition: all 0.99s linear;
	-o-transition: all 0.99s linear;
	transition: all 0.99s linear;
}
.show {
	/*margin: 0px 0px 0px 20px;*/
	position: relative;
	opacity: 1;
	transform: translateY(0px);
	-webkit-transition: all 0.99s linear;
	-o-transition: all 0.99s linear;
	transition: all 0.99s linear;
}
.move-down {
	position: relative;
	opacity: 0;
	transform: translateY(50px);
	-webkit-transition: all 0.99s linear;
	-o-transition: all 0.99s linear;
	transition: all 0.99s linear;
}
.down {
	position: relative;
	opacity: 1;
	transform: translateY(0px);
	-webkit-transition: all 0.99s linear;
	-o-transition: all 0.99s linear;
	transition: all 0.99s linear;
}
.move-left {
	position: relative;
	opacity: 0;
	transform: translateX(-50px);
	-webkit-transition: all 0.99s linear;
	-o-transition: all 0.99s linear;
	transition: all 0.99s linear;
}
.moveleft {
	position: relative;
	opacity: 1;
	transform: translateX(0px);
	-webkit-transition: all 0.99s linear;
	-o-transition: all 0.99s linear;
	transition: all 0.99s linear;
}
article h2+h1 {
	margin-top: -25px;
}
article h1+p {
	font-size: 12px;
	font-weight: bold;
}
article h3+p, ul {
	text-align: left;
}
/* summer*/
.note-editor .note-editable {
	font-size: 12px !important;
}
#main-content {
	text-align: justify;
	padding-left: 35px;
}
#main-content p:first-letter {
	text-indent: 2.5em;
}
#main-content.index {
	padding: 5px;
	padding-bottom: 50px;
}
#main-content .keterangan {
	font-size: 12px;
	margin-bottom: 10px;
}
.keterangan i.fa {
	margin: 0px 3px;
	color: #22A7F0;
}
.content-page .berita-images-full {
	width: 100px;
	height: 100px;
	max-width: 100px;
	max-height: 100px;
	float: left;
	margin-right: 10px;
	border: 1px solid #999;
	padding: 3px;
}
.p p {
	text-indent: 2em;
}
.content-page table tr td {
	border: 0;
	font-size: 12px;
}
.content-page td {
	padding: 5px 15px;
}
.row {
	padding: 5px;
	padding-left: 5px;
	margin-left: 0px;
	box-sizing: border-box;
}
.row-album {
	padding: 5px;
	padding-left: 5px;
	margin-left: 5px;
	box-sizing: border-box;
}
.row-foto {
	margin-left: 20px;
}
.center {
	text-align: center;
}
.table-alumni {
	border: 1px solid #ccc;
	color: #0f0f0f;
	padding: 5px;
	margin-bottom: 1rem;
	width: 80%;
	margin: 0 auto
}
.table-alumni th {
	color: #f6f6f6;
}
.table-alumni th:first-child {
	width: 20px;
	color: #f6f6f6;
}
.table-alumni thead tr:hover {
	background-color: #ccc;
}
.content-page .table-alumni tr td {
    border: 1px solid #E1E1E1;
	font-size: 14px;
}
.table-alumni th {
	background-color: #22A7F0;
}
.table-alumni th, td {
    padding: 5px 5px !important; 
    text-align: left;
    border: 1px solid #E1E1E1;
}
.table-alumni tr:hover {
	background-color: #fff;
}
.pagina {
	margin: 0 auto;
	right: 0;
}
.pagination {
    text-align: center;
    width: 20px;
    float: left;
    margin: 1px;
    display: flex;
    width: auto;
}
.pagination li {
	padding: 0px 10px;
    border: 1px solid #CEF0FF;
    margin-left: 1px;
    cursor: pointer;
    display: block;
}
.pagination li.active {
	color: #fff;
	background-color: #22A7F0 !important;
	cursor: default;
}
.pagination li:hover {
	color: #fff;
}
.pagination li.disabled span {
	cursor: not-allowed;
	color: #000;
}
.pagination li a{
	text-decoration: none;
}
td.paginate {
	display: table-cell;
    vertical-align: inherit;
    border-bottom: 0 !important;
    border: 0;
}
.bullet-one {
	float: left;
	width: 80px;
	height: 40px;
	background-color: #3e3;
	position: absolute;
	left: 156px;
    top: 400px;
    opacity: 0.9;
    border: 2px solid #3e3;
    z-index: -1;
    -webkit-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    box-shadow: 0px 0px 3px 0px #000;
    overflow: hidden;
}
.bullet-two {
	float: left;
	width: 150px;
	height: 20px;
	background-color: #22A7F0;
	position: absolute;
	left: 156px;
    top: 427px;
    opacity: 0.9;
    z-index: -2;
    -webkit-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    box-shadow: 0px 0px 3px 0px #000;
    overflow: hidden;
}
/*-----------------------------------------------------
=============== Dropdown-collapse =====================
------------------------------------------------------*/
li {
	list-style: none;
}
.accordion {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	background-color: #eeeeee;
	border-radius: 2px;
}
.accordion .link {
	display: block;
	padding: 10px 15px 10px 42px;
	color: #4d4d4d;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.accordion .link i.fa-bullhorn,
.accordion .link i.fa-newspaper-o,
.accordion .link i.fa-calendar-check-o {
	color: #3c8dbc;
}
.accordion li:last-child .link {
	border-bottom: none;
}
.accordion li i {
	position: absolute;
	top: 12px;
	left: 16px;
	font-size: 18px;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.accordion li i.fa-chevron-down{
	right: 12px;
	left: auto;
	font-size: 12px;
}
.accordion li.open-accordion .link {
	color: #f6f6f6;
}
.accordion li.open-accordion .link i.fa-bullhorn,
.accordion li.open-accordion .link i.fa-newspaper-o,
.accordion li.open-accordion .link i.fa-calendar-check-o {
	color: #f4ff15;
	text-shadow: 0px 5px 1px #35373A;
}
.accordion li.open-accordion .link i.fa-chevron-down {
	color: #f4ff15;
}
.accordion li.open-accordion .link {
	background-color: #3e8ebc;
	border-bottom: 1px solid #3e8ebc;
}
.accordion li.open-accordion i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.submenu-accordion {
	display: none;
	font-size: 14px;
	margin: 0px;
}
.submenu-accordion .list {
	background-color: #ffffff;
	padding: 20px 20px 35px 20px;
	border-left: 1px solid #3e8ebc;
	border-right: 1px solid #3e8ebc;
}
.submenu-accordion a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 12px;
	padding-left: 42px;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.submenu-accordion a:hover {
	background-color: #fff;
}
/*====================================================
==================== agenda ==========================
======================================================*/
.middle.articles-list {
	margin-top: -125px;
}
.list {
	border-bottom: 1px solid #ccc;
}
.list:last-child {
	border-bottom: none;
}
.agenda-head h2{
	font-size:16px;
	padding:0px;
	margin:0px;
	font-weight:bold;
	color:#666666;
}
.agenda-head h3{
	font-size:10px;
	padding:0px;
	margin:0px;
	font-weight:normal;
	color:#666666;
}
.agenda-body {
	font-size: 12px !important;
	text-align: justify;
	text-indent: 2em;
}
.agenda-body.isi p span {
	font-size: 12px !important;
	text-align: justify;
	text-indent: 2em;
}
.agenda-body.isi {
	font-size: 12px !important;
	text-align: justify;
	line-height: 24px;
}
/*.agenda-body.isi p:first-letter {
	font-size: 20px;
	color: #903;
	text-transform: uppercase;
}*/
.agenda-body.isi p {
	text-indent: 2em;
}
.agenda-body.isi p:first-line {
	text-transform: uppercase;
}
.agenda-body .more {
	display: inline-block;
	padding: 0px;
	color: #22A7F0;
	margin: 0px;
	float: right;
}
.agenda-body .more:hover {
	color: #00D054;
}
.post {
	margin-left: 20px;
}
.ket {
	margin-left: 20px;
}
.berita-images {
	width: 80px;
	height: 80px;
	max-width: 80px;
	max-height: 80px;
	float: left;
	margin-right: 15px;
	border: 1px solid #999;
	padding: 3px;
}
.tanggalberita h3 {
	color:#000000;
	font-size: 12px;
	line-height: 150%;
	font-style: italic;
	margin-bottom: -15px;
}

.tema {
	text-align: left;
	font-size: 14px;
	font-weight: 700;
	margin: 0px;
}
.large-window {
	height: 314px;
	background-image: url(../images/lab.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin-top: -10px;
	overflow: hidden;
	/*border-radius: 50%;*/
}
.info {
	width: 650px;
	height: 275px;
	position: relative;
	border-radius: 5px;
	padding: 10px 0;
	background-color: #5d5f62;
	margin: 0 auto;
	top: 10px;
	opacity: 0.7;
	text-align: center;
}
.info article {
	width: 550px;
	padding: 5px 0;
}
.info article h5 {
	margin-bottom: 5px;
	color: #f4ff15;
}
.info article span {
	color: #ffffff;
}
.info article .hr-info {
	margin-bottom: 0px;
	width: 100%;
}
.maps {
	width: 100%;
	height: 100%;
	background-color: #35373A;
	/*padding-bottom: 10px;*/
}
.google-maps {
	max-width: 950px;
	height: 288px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
}
.google-share {
	max-width: 100%;
	height: 25px;
	margin: 0 auto;
	padding: 5px;
	text-align: left;
}
.album {
	max-width: 950px;
	margin: 0 auto;
	height: auto;
	padding: 5px;
	text-align: center;
	margin-bottom: -50px;
}
.album-inner {
	background-color: #f6f6f6;
}
.columns img.foto {
	margin: 5px;
	/*min-width: 205px;*/
	max-width: 205px;
    min-height: 155px;
    max-height: 155px;
}
.columns img {
	margin: 5px;
    min-height: 155px;
    max-height: 155px;
}
.pics-logo {
  margin-bottom: 100px; }
  .pics-logo figure {
    margin-bottom: 5px;
    position: relative;
    opacity: 0;
    transform: translateY(30px);
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    cursor: pointer; }
    .pics-logo figure.show {
      opacity: 1;
      margin: 0 auto;
      margin-right: 25px;
      transform: translateY(0px); }
    .pics-logo figure.show:last-child{
      margin-right: 0px;
    }
    .pics-logo figure.show:first-child{
      margin-left: 17px;
    }
    .pics-logo figure.foto.show{
      margin-left: -20px;
      margin-right: 45px;
      margin-bottom: 20px;
    }
    .pics-logo figure img {
      /*display: block;*/
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
       transition: all 0.3s ease-in-out; }
    .pics-logo figure:hover figcaption {
      left: 0%; }
    .pics-logo figure:hover img {
      -webkit-transform: scale(1.1);
       -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
       transform: scale(1.1); }
  .pics-logo figcaption {
    position: absolute;
    bottom: 10px;
    left: -100%;
    background: black;
    color: white;
    padding: 2px 8px;
    font-size: 11px;
    -webkit-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out; }
    .pics-logo figure:hover figcaption.albums {
      bottom: 0%; }
      .pics-logo .figure:hover figcaption {
      left: 0%; }
  .pics-logo figcaption.albums {
    position: absolute;
    bottom: 10px;
    bottom: -100%;
    background: black;
    color: white;
    padding: 2px 8px;
    font-size: 11px;
    -webkit-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out; }

  .pics-logo figcaption.foto {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 100%;
    left: -100%;
    background: #5d5f62;
    color: #fff;
    opacity: 0.9;
    padding: 0px 0px;
    font-size: 11px;
    -webkit-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out; }
.images-album {
	margin: 10px;
	height: 100px;
	overflow: hidden;
}
.sub-album {
	float: left;
    padding: 5px;
    margin: 8px;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px dashed #cccccc;
}
.galerry-images {
	width: 80px;
	height: 80px;
	max-width: 80px;
	max-height: 80px;
	float: left;
	border: 1px solid #999;
	padding: 3px;
}
.google-maps iframe {
	max-width: 100%;
	margin: 0 auto;
}
.album-all {
	/*margin-bottom: 235px;*/
	position: relative;
}
#album-besar {
    float: left;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #cccccc;
}
#sub-album {
    width: 130px;
    float: left;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.three img {
	margin: 0px;
}
footer {
	background-color: #35373A;
	padding: 20px 0;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	box-shadow: 0px 0px 3px #000;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
}
footer a {
	text-decoration: none;
	color: #ffffff;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
footer a:hover {
	text-decoration: none;
	color: #1EAEDB;
}
footer hr {
	margin: 0 auto;
	margin-bottom: 10px;
	max-width: 950px;
	border-top: 1px solid #00D054;
	text-align: center;
}
.footer-collapse {
	background-color: #35373A;
	opacity: 0.9;
	padding: 20px 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	box-shadow: 0px 0px 5px #000;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	position: fixed;
	z-index: 1;
	bottom: 0px;
	-webkit-transition: all 0.7s linear;
	-o-transition: all 0.7s linear;
	transition: all 0.7s linear;
}
.footer-collapse hr {
	margin: 0 auto;
	margin-bottom: 10px;
	max-width: 950px;
	border-top: 1px solid #00D054;
	text-align: center;
}
.footer-none {
	background-color: #35373A;
	padding: 20px 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	position: fixed;
	z-index: 1;
	bottom: -80px;
	-webkit-transition: all 0.7s linear;
	-o-transition: all 0.7s linear;
	transition: all 0.7s linear;
}
.sticky-none {
	width: 35px;
	height: 35px;
	background-color: #000000;
	border: 1px solid #00D054;
	/*border-radius: 50%;*/
	/*opacity: 0.5;*/
	right: 35px;
	position: fixed;
	z-index: 1;
	bottom: -36px;
	text-align: center;
	line-height: 30px;
	box-sizing: border-box;
	-webkit-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}
.sticky-none a {
	color: #ffffff;
}
.sticky-footer {
	width: 35px;
	height: 35px;
	background-color: #000000;
	border: 1px solid #00D054;
	/*border-radius: 50%;*/
	opacity: 0.5;
	right: 35px;
	position: fixed;
	z-index: 1;
	bottom: 30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	box-sizing: border-box;
	-webkit-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}
.sticky-footer:hover {
	background-color: #f4ff15;
	opacity: 1;
}
.sticky-footer a {
	color: #ffffff;
	display: block;
}
.sticky-footer a:hover {
	color: #22A7F0;
}
/*==============================================================
========================= Queries ==============================
==============================================================*/
@media (max-width:768px){
	header.nav-menu {
		position: relative;
		opacity: 1;
		z-index: 1;
		top: -9px;
		background-color: #3c8dbc;
	}
	#lightgallery.list-unstyled {
		padding-left: 76px;
		margin: 0 auto;
	}
	input[type="text"].search {
		width: 150px;
	}
	.active {
		background-color: transparent;
	}
	.student-top, .student-bottom {
		display: none;
	}
	#logo-sekolah {
		margin-bottom: -30px;
	}
	.logo-sekolah {
		display: none;
	}
	.logo-brands {
		display: block;
	    min-width: 70px;
	    max-height: 90px;
	    margin: 0px 3px;
	    z-index: 3;
	}
	.guestbook {
		display: none;
	}
	.kepala-sekolah-padd {
		padding: 0px;
	}
	#main-content {
		margin-left: 0px;
		padding-left: 0px;
		border-left: 0;
	}
	.content-page {
		padding-left: 3px;
	}
	.content .nav-menu-collapse {
		position: relative;
		top: -9px;
	}
	.table-alumni {
		margin: 0px auto;
	}
	.middle.articles-list {
		margin-top: -114px;
	}
	.footer-collapse {
		display: none;
	}
	span.icon > i.icon {
		margin-right: 10px;
	}
	header label {
		display: block;
		margin-right: 15px;
		margin-left: 45px;
	}
	.menu {
		position: absolute;
		top: 60px;
		left: 0;
		height: 0;
		width: 100%;
		transform: translateX(-100%);
		-webkit-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
		z-index: 2;
	}
	.a-menu {
		padding-bottom: 0px !important;
		margin-bottom: 0px;
	}
	.menu ul {
		display: block;
		background-color: #000;
		margin-right: 0px;
		overflow: hidden;
		margin-left: 0px;
		/*transition: all 0.3s linear;*/
	}
	.menu ul ul li:first-child {
		padding-top: 5px;
	}
	.menu ul ul li:last-child {
		padding-bottom: 5px;
	}
	.menu ul li:last-child {
		padding-bottom: 15px;
	}
	.open {
		height: 100%;
		/*transition: all 0.3s linear;*/
	}
	.menu ul a {
		color: #fff;
		padding-bottom: 10px !important;
		display: block;
	}
	.menu ul a:hover {
		color: #00D054;
		background-color: #000;
	}
	.menu ul li:hover ul {
		display: none;
		position: static;
	}
	.menu ul ul {
		margin-top: 0px;
	}
	.menu .arrow {
		position: absolute;
		right: 20px;
	}
	#btn-menu:checked ~ .menu {
		transform: translateX(0%);
	}
	.menu ul ul {
		border-left: 2px solid #00D054;
	}
	.menu ul ul a {
		padding: 15px 30px;
		background-color: #35373A;
	}
	.menu ul ul a:hover {
		background-color: #35373A;
	}
	.menu a span {
		margin-right: 0px;
	}
	.pics-logo figure figcaption {
		display: none;
     }
     .pics-logo figure.show:last-child{
      margin-right: -2px;
    }
    .row {
    	padding-left: 0px;
    }
     .pics-logo figure.show{
      margin-right: 11px;
    }
    .pics-logo figure.show:first-child{
      margin-left: 0px;
    }
    .pics-logo figure.al.show:first-child{
      margin-left: -5px;
    }
    .pics-logo figure.foto.show{
      margin-left: -2px;
      margin-right: 19px;
      margin-bottom: 2px;
    }
    #album-besar {
    	width: 95%;
    	float: none;
    	margin-bottom: 30px;
    	margin-left: 4px;
    }
    #sub-album {
    	float: none;
    	width: 100%;
    	padding: 0px;
    }
    .row-foto {
    	padding-left: 0px;
    }
    .row-album{
    	padding-left: 25px;
    }
    .row-new {
    	padding-left: 24px;
    }
    .columns img.foto {
    	margin-left: 20px;
    	width: 100%;
    }
}
/* Mobile first queries */

/* Larger than mobile *//* Smartphones (portrait and landscape) ----------- */
@media (max-width: 550px) {
	.box-background {
		height: 100px;
	}
    .row-new {
    	padding-left: 0px;
    }
    .pics-logo figure.new.show:first-child {
    	margin-left: -5px;
    }
    .pics-logo figure.show {
    	margin-left: -5px;
    }
	/*.logo {
		background-image: url(../images/pablet-logo.png);
		background-position: center;
		height: 36px;
		width: 100%;
		top: 0%;
		margin-top: 25px;
	}*/
	.nav-colapse h2 {
		font-size: 20px;
		margin: 0px;
	}
	.nav-colapse h1 {
		font-size: 25px;
		margin-top: -5px;
		margin-bottom: 0px;
	}
	.content article {
		padding: 5px 5px;
	}
	article h1, h2, h3 {
		font-size: 20px;
	}
	.content article h1 {
		margin-top: -20px;
	}
	article h1+p {
		font-size: 10px;
		margin-top: -20px;
	}
	article h3+p {
		text-align: justify;
	}
	article p, ul {
		font-size: 14px;
	}
	.xs-hidden {
		display: none;
	}
	.is {
		margin-left: 0px;
	}
	.show {
		margin-left: 0px;
	}
	.info {
		width: 100%;
		border-radius: 0px;
		height: 100%;
		top: 0px;
	}
	.info article {
		width: 100%;
	}
	.info article h5 {
		font-size: 18px;
	}
	.info article span {
		font-size: 14px;
	}
	.info article .hr-info {
		margin-bottom: 25px;
		width: 85%;
		left: 18px;
	}
	footer hr {
		width: 85%;
		margin-bottom: 5px;
	}
	.footer-collapse hr {
		margin-bottom: 5px;
	}
	.sticky-none {
		width: 25px;
		height: 25px;
		line-height: 20px;
	}
	.sticky-footer {
		width: 25px;
		height: 25px;
		line-height: 20px;
	}
	.windows8 {
		padding-top: 60% !important;
	}
}
@media(max-width: 400px){
    .row, .row-album {
    	margin-left: -5px;
    }
    .columns img {
    	min-width: 232px;
    	max-width: 232px;
    }
}
/* Larger than phablet */
@media (min-width: 550px) and (max-width: 750px) {
	.box-background {
		height: 160px;
	}
	/*.logo {
		background-image: url(../images/tablet-logo.png);
		background-position: center;
		height: 127px;
		width: 100%;
		top: 0%;
		margin-top: 15px;
	}*/
	.content article {
		padding: 5px 5px;
	}
	article h1, h2, h3 {
		font-size: 25px;
	}
	.content article h1 {
		margin-top: -20px;
	}
	article h1+p {
		font-size: 12px;
		margin-top: -20px;
	}
	article h3+p {
		text-align: justify;
	}
	article p, ul {
		font-size: 14px;
	}
	.sm-hidden {
		display: none;
	}
	div.student-bottom.xs-hidden.sm-hidden.md-hidden {
	    display: none;
	}
	.info {
		width: 100%;
		border-radius: 0px;
		height: 100%;
		top: 0px;
	}
	.info article {
		width: 100%;
	}
	.info article h5 {
		font-size: 18px;
	}
	.info article span {
		font-size: 14px;
	}
	.info article .hr-info {
		margin-bottom: 25px;
		width: 85%;
		left: 38px;
	}
	footer hr {
		width: 85%;
	}
	.sticky-none {
		width: 25px;
		height: 25px;
		line-height: 20px;
	}
	.sticky-footer {
		width: 25px;
		height: 25px;
		line-height: 20px;
	}
}
@media (max-width: 1000px) {
	.student-top, .student-bottom {
		display: none;
	}
}
/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
.windows8 {
	position: fixed;
	padding-top: 20%;
	padding-left: 49%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999998;
    background-color: #2c3e50;
}

.windows8 .wBall {
	position: absolute;
	margin: 0 auto;
	margin-left: -20px;
	width: 46px;
	height: 46px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.050000000000001s infinite;
		-o-animation: orbit 6.050000000000001s infinite;
		-ms-animation: orbit 6.050000000000001s infinite;
		-webkit-animation: orbit 6.050000000000001s infinite;
		-moz-animation: orbit 6.050000000000001s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 6px;
	height: 6px;
	background: rgb(225, 225, 225);
	left:0px;
	top:0px;
	border-radius: 6px;
}

.windows8 #wBall_1 {
	animation-delay: 1.32s;
		-o-animation-delay: 1.32s;
		-ms-animation-delay: 1.32s;
		-webkit-animation-delay: 1.32s;
		-moz-animation-delay: 1.32s;
}

.windows8 #wBall_2 {
	animation-delay: 0.26s;
		-o-animation-delay: 0.26s;
		-ms-animation-delay: 0.26s;
		-webkit-animation-delay: 0.26s;
		-moz-animation-delay: 0.26s;
}

.windows8 #wBall_3 {
	animation-delay: 0.53s;
		-o-animation-delay: 0.53s;
		-ms-animation-delay: 0.53s;
		-webkit-animation-delay: 0.53s;
		-moz-animation-delay: 0.53s;
}

.windows8 #wBall_4 {
	animation-delay: 0.79s;
		-o-animation-delay: 0.79s;
		-ms-animation-delay: 0.79s;
		-webkit-animation-delay: 0.79s;
		-moz-animation-delay: 0.79s;
}

.windows8 #wBall_5 {
	animation-delay: 1.06s;
		-o-animation-delay: 1.06s;
		-ms-animation-delay: 1.06s;
		-webkit-animation-delay: 1.06s;
		-moz-animation-delay: 1.06s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}